* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(237, 237, 237);
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

nav > ul > li:last-child {
    display: flex;
    gap: 3em;
}

header {
    padding: 3em;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* -------------------------------HERO SECTION */

section {
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

section > div:first-child {
    width: 50vw;
    height: 20em;
    background-color: rgb(187, 221, 251);
    border-radius: 1em;
}

section > div:nth-child(2) {
    width: 16em;
    height: 8em;
    background-color: white;
    margin-top: -22em;
    margin-bottom: 6em;
    border-radius: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

section > div:nth-child(2):hover {
    border: 5px solid rgb(187, 221, 251);
}

section > div:nth-child(2) > button {
    width: 10em;
    height: 4em;
    outline: none;
    border: none;
    border-radius: 1em;
    background-color: #005DFF;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

section > div:nth-child(3) {
    /* margin-top: -9em; */
    background-color: white;
    padding-top: 2em;
    border-radius: 1em;
}

section > div:nth-child(3) img {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.dots-bar {
    display: flex;
    gap: 0.8em;
    margin-top: -1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.dots {
    width: 0.8em;
    height: 0.8em;
    background-color: black;
    border-radius: 50%;
}


/* -----------------------------------FEATURES SECTION */

.grid {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    justify-content: center;
}

.feature-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 6em;
}

.feature-sec > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;

    margin-bottom: 2em;
}

.feature-sec > div > div > i {
    font-size: 2em;
}







.feature-gap {
    gap: 3em;
}

.pic-edit {
    width: 30em;
    border-radius: 2em;
}

.txt-width {
    width: 30em;
}

.about-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6em;
    margin-top: 4em;
}

